@(message: String) @main("Neofili Haber Welcome") {


<div class="jumbotron">
	<div class="container">
		<h1>NeoFili haber</h1>
		<p>Haberin dibi</p>
		<p>
			<a class="btn btn-primary btn-lg" role="button">Neler varmis
				&raquo;</a>
		</p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>Haber1</h2>
			<p>Juve'nin hali</p>
			<p>
				<a class="btn btn-default" href="#" role="button">Detay&raquo;</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>Haber2</h2>
			<p>Trafik haberi</p>
			<p>
				<a class="btn btn-default" href="#" role="button">Detay&raquo;</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>Haber3</h2>
			<p>Dekolte fotosu</p>
			<p>
				<a class="btn btn-default" href="#" role="button">Detay&raquo;</a>
			</p>
		</div>
	</div>

	<hr>

	<footer>
		<p>&copy; NeoFili haber 2013</p>
	</footer>
</div>
<!-- /container -->
}
