
@main(Messages("playauthenticate.verify.account.title")) {
<div class="container">
<div class="row">

	<div class="col-lg-12">
		<h2 class="page-header">@Messages("playauthenticate.login.title")</h2>
	</div>      
  <div class="col-sm-4">  

    <div class="span3">
	<h1>@Messages("playauthenticate.verify.account.title")</h1>
	<p>
	@Messages("playauthenticate.verify.account.before") <a href="@routes.Account.verifyEmail">@Messages("playauthenticate.verify.account.first")</a>.<br/>
	</p>
	</div>
	</div> 
	</div>
	</div>
}