@(newsList : java.util.List[models.News]) @main("Neofili Haber Welcome")  {


<div class="jumbotron">
	<div class="container">
		<h1>NeoFili haber</h1>
		<p>Haberin dibi</p>
		<p>
			<a class="btn btn-primary btn-lg" role="button">Neler varmis
				&raquo;</a>
		</p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
	@for(news <- newsList) {
		<div class="col-md-4">
		<div style="width:200px;height:200px;overflow:hidden;" >
   			<img src="@news.image" width="200px" height="200px">
		</div>
			<h2>@news.title</h2>
			<p>@news.detail</p>
			<p>
				<a class="btn btn-default" target="_blank" href="@news.link" role="button">Detay&raquo;</a>
			</p>
		</div>
	}
	</div>

	<hr>

	<footer>
		<p>&copy; NeoFili haber 2013</p>
	</footer>
</div>
<!-- /container -->
}
