@(newsList : java.util.List[models.News],page:java.lang.Integer,category:java.lang.String) 
@main(Messages("playauthenticate.index.title"),Messages("haberfili.subtitle")) {

	
   <div id="blog" >
   <section class="page_section">
   <header>
	<div class="container">
		 <h1>HaberFili</h1>
		<h1 style="font-size: 30px;">@Messages("haberfili.subtitle")</h1>
	</div>
	
	</header>
	</section>
</div>

<div class="content_section container featured_items">
	<!-- Example row of columns -->
	<!--
	<div class="col-lg-12">
		<h2 class="page-header">@Messages("haberfili.news")</h2>
	</div>
		 -->
	

	@for(i <-0 to newsList.size()-1) {
	
	@if(i % 4==0){
	<div class="row"   >
	}
	<div class="col-md-3" style="display:flex;">
	<div class="item">	
	<div class="img_block hover_img" >
	@if(!"".equals(newsList.get(i).image)){
			<a target="" href="/content/@newsList.get(i).id" >
			<img alt="@newsList.get(i).title" src="@newsList.get(i).image" >
			</a>
	}		
	</div>
			<div class="items_body">
			<div class="items_title">
			<h5>
			<a target="" href="/content/@newsList.get(i).id" >@newsList.get(i).title</a>
			</h5>
			<div class="items_meta">
			<span class="preview_meta_data">@newsList.get(i).source</span>
			</div>
			
			<div class="items_meta">
			<span class="preview_meta_data">@(new java.util.Date(newsList.get(i).createDate-(60*60*1000*9)).format("dd-MM-yyyy HH:mm"))</span>
			</div>
			</div>
			<div class="items_desc">
				<p>@newsList.get(i).detail
				<a target="_blank" href="@newsList.get(i).link" >Kaynak..</a>
				<a href="/content/@newsList.get(i).id" >Devami..</a>
				</p>	
			</div>
			<ul class="list-unstyled list-inline list-social-icons">
              
             <span class='st_facebook_large' displayText='Facebook' st_url="http://www.haberfili.com/content/@newsList.get(i).id"></span>
			<span class='st_twitter_large' st_via="haberfili" st_msg="@newsList.get(i).title." displayText='Tweet'st_url="http://www.haberfili.com/content/@newsList.get(i).id"></span>
			<span class='st_googleplus_large' displayText='Google +'st_url="http://www.haberfili.com/content/@newsList.get(i).id"></span>
            </ul>
			</div>
	</div>
	</div>	
		@if(i % 4==3){
	</div>
	}
		
	}
	
	<div class="col-md-12">
		<div class="load_more_cont"><a href="/page/@page/@category" class="btn_load_more shortcode_button btn_type4">Daha fazla</a></div>
   	</div>

</div>
    }
    
    
    