@(newsList : java.util.List[models.News]) 
@main(Messages("playauthenticate.index.title")) {

   <div class="jumbotron">
	<div class="container">
		<h1>HaberFili</h1>
		<p>Kisisel Haber Sitesi</p>
		<p>
			<a class="btn btn-primary btn-lg" role="button">Haberfili Nedir?
				&raquo;</a>
		</p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	
	<div class="col-lg-12">
		<h2 class="page-header">Your News</h2>
	</div>
	<div class="row clearfix" >
	
	@for(i <-0 to newsList.size()-1) {
	<div class="col-sm-3 clearfix">	
			<img height="100" width="120" src="@newsList.get(i).image" >
			<h3>@newsList.get(i).title <small>@newsList.get(i).source</small> </h3>
			<p>@newsList.get(i).detail</p>
			<ul class="list-unstyled list-inline list-social-icons">
              <a class="btn btn-default" target="_blank" href="@newsList.get(i).link" role="button">Detay&raquo;</a>
              <!--   <li class="tooltip-social facebook-link">
              	<a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
              	<i class="fa fa-facebook-square fa-2x"></i>
              	</a>
              </li>
              <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
              -->
             <span class='st_facebook_large' displayText='Facebook' st_url="http://www.haberfili.com/content/@newsList.get(i).id"></span>
			<span class='st_twitter_large' st_via="haberfili" st_msg="@newsList.get(i).title." displayText='Tweet'st_url="http://www.haberfili.com/content/@newsList.get(i).id"></span>
			<span class='st_googleplus_large' displayText='Google +'st_url="http://www.haberfili.com/content/@newsList.get(i).id"></span>
            </ul>
			
			
	</div>		
	}
	
	</div>

	<hr>

	<footer>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- medium -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-2035701886193305"
     data-ad-slot="8735388474"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
		<p>&copy; NeoFili haber 2013</p>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<a href="/language/de">de</a>
			<a href="/language/en">en</a>
			<a href="/language/tr">tr</a>
		</div>
	</footer>
</div>
    }
    
    