@(loginForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.login.title"),"login") {

  <section class="page_section" id="contact">
            <!-- section header -->
            <header>
                <div class="container" >
<div class="row">

	<div class="col-lg-12">
		<h2 class="page-header">@Messages("playauthenticate.login.title")</h2>
	</div>      
  <div class="col-sm-4">  

    <div class="span3">
      @* Display proprietary login form *@
    	@helper.form(routes.Application.doLogin) {
    	
        @if(loginForm.hasGlobalErrors) { 
          <p class="error">
            <span class="label label-important">@loginForm.globalError.message</span>
          </p>
        }
        
        @_emailPartial(loginForm)
          
        @inputPassword(
          loginForm("password"),
          '_showConstraints -> false,
          '_label -> Messages("playauthenticate.login.password.placeholder")
        )
          
        <input class="send_btn" type="submit" value="@Messages("playauthenticate.login.now")" class="btn btn-primary"><br/>
        <br/>
        <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("playauthenticate.login.forgot.password")</a>

    	}
    </div>
     </div>
 <div class="col-sm-4">  
    
      @Messages("playauthenticate.login.oauth")
      <div>
      @* Display list of available providers *@
      @_providerPartial(skipCurrent=false)
      </div>
  </div>
 
</div>
  
</div>
</header>
</section>
}