@(loginForm: Form[forms.Login],user:models.User)
@import helper._
@main("Neofili Haber Login",user: models.User) {
    @if(loginForm.hasErrors) {
        <div class="alert-message error">
            <p><strong>Oops</strong> Please fix all errors</p>
        </div>
    }
    
    @helper.form(action = routes.LoginController.authenticate, 'id -> "loginForm") {
        
        <fieldset>
            <legend>General information</legend>
            
            @inputText(
                loginForm("email"), 
                '_label -> "email"
            )
            
            @inputText(
                loginForm("password"), 
                '_label -> "Password"
            )
            
           
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Insert">
        </div>
        
    }
    

}
