@(news : models.News,newsList : java.util.List[models.News])
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@mainonenews(news) {
<!DOCTYPE html>
<html>

<div class="clear"></div>
  <section class="page_section" id="about">
  <br>
    <div class="content_section container"> 
            	<div class="row">
                	<div class="row">
            @if(!"".equals(news.image)){
                	<div class="col-md-4">
			<div class="img-rounded box" >
			<div class="img_block hover_img">
                                <a   class="prettyPhoto" data-rel="prettyPhoto[about]">
                                    <img  src="@news.image"  alt="@news.title" />
                                    
                                </a>
            </div>
            </div>
            </div>
            }
            <br>
            <div class="col-md-4">
			<h3>@news.title <small>@news.source</small>
			<br>
			<small>@(new java.util.Date(news.createDate).format("dd MMMM yyyy hh:mm")) </small></h3>
			 
			<p>@news.detail@news.detailMore
				<a target="_blank" href="@news.link" >Kaynak..</a>
			</p>
	
			 <span class='st_facebook_large' displayText='Facebook' st_url="http://www.haberfili.com/content/@news.id"></span>
			<span class='st_twitter_large' st_via="haberfili"  displayText='Tweet'st_url="http://www.haberfili.com/content/@news.id"></span>
			<span class='st_googleplus_large' displayText='Google +'st_url="http://www.haberfili.com/content/@news.id"></span>
	</div>				
	</div>		
	
	</div>
	<div class="row clearfix" >
	<div class="col-lg-12">
	@if(news.similarNews!=null && news.similarNews.size()!=0){
	<div class="col-lg-6">
	
			<h2 class="page-header">@Messages("haberfili.similarNews")</h2>
	
	<div class="list-group" >
		@for(i <-0 to news.similarNews.size()-1) {
	<a class="list-group-item" href="/content/@news.similarNews.get(i).id">	
		<h4 class="list-group-item-heading">@news.similarNews.get(i).title <small>@news.similarNews.get(i).source</small></h4>
		<p class="list-group-item-text">@news.similarNews.get(i).detail</p>	
	</a>		
	}
	</div>
	
	
	</div>
	}
	<div class="col-lg-6">
		<h2 class="page-header">@Messages("haberfili.othernews")</h2>
	
	<div class="list-group" >
		@for(i <-0 to newsList.size()-1) {
	<a class="list-group-item" href="/content/@newsList.get(i).id">	
		<h4 class="list-group-item-heading">@newsList.get(i).title <small>@newsList.get(i).source</small></h4>
		<p class="list-group-item-text">@newsList.get(i).detail</p>	
	</a>		
	}
	</div>
	</div>
	</div>
</div>
</div>
</section>

</html>

}
    