@(news : models.News,newsList : java.util.List[models.News])
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@news.detail">
    <meta name="keywords" content="Haberfili,Haber,Kişiselleştirilmiş haber,news,Personalized news,son dakika haberleri,son dakika" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="https://plus.google.com/114420677909804391423/">
    <meta name="Search.Document" content="story">
    <meta name="Search.Title" content="@news.title">
    <meta name="Search.Image" content="@news.image">
    
    
    <meta name="author" content="">
    <title>@news.title</title>
    
    <!-- Le meta -->
    <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
 		<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
 		<script src="@routes.Application.jsRoutes" defer="defer"></script>
 		<link href="@routes.Assets.at("javascripts/bootstrap.js")" rel="stylesheet">
 		<link href="@routes.Assets.at("javascripts/bootstrap.min.js")" rel="stylesheet">
 		<link href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")" rel="stylesheet">

		<!-- Optional theme -->

		<!-- Latest compiled and minified JavaScript -->
		
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootswatch.min.css")">
		<link href="@routes.Assets.at("font-awesome/css/font-awesome.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/modern-business.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
		
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50420138-1', 'haberfili.com');
  ga('send', 'pageview');

</script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "e6d24eb3-1709-4092-9fc2-2d0bc0b3b3cf", popup:true ,doNotHash: false, doNotCopy: false, hashAddressBar: false,shorten:false});</script>
<!-- for Google -->
<meta name="description" content="@news.detail" />
<meta name="keywords" content="news" />

<meta name="author" content="" />
<meta name="copyright" content="" />
<meta name="application-name" content="haberFili" />

<!-- for Facebook -->          
<meta property="og:title" content="@news.title" />
<meta property="og:type" content="article" />
<meta property="og:image" content="@news.image" />
<meta property="og:url" content="@news.link" />
<meta property="og:description" content="@news.detail" />
<meta property="og:site_name" content="www.haberfili.com" />

<!-- for Twitter -->          
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="@news.title" />
<meta name="twitter:description" content="@news.detail" />
<meta name="twitter:image" content="@news.image" />
</head>

  <body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">HaberFili</a>
		</div>
		 
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
			          @subjectPresentOr() {
          	@defining(Application.getLocalUser(session())) { user =>
				
				
						
				<li>
						<a href="/profile">@user.name</a>
					</li>
					<li>
						<a href="#">Settings</a>
					</li>
					<li >
						<a href="/logout" >Logout</a>
					</li>	
				<!-- 
					<li class="dropdown">
						<a href="/login" class="dropdown-toggle" data-toggle="dropdown">Login
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">Sign Up</a>
							</li>
						</ul>
					</li>
					 -->
				}}{
					<li >
						<a href="/login" >Login</a>
					</li>
					<li>
						<a href="/signup">Sign Up</a>
					</li>
				}				
				</ul>
		</div>
		
		
		<!--/.navbar-collapse -->
	</div>
</div>
</body>
       <div class="jumbotron">
		<div class="container">
		 <h1><img class="img-responsive" src="@routes.Assets.at("icons/haberfili.png")" ></h1>
		<p>@Messages("haberfili.subtitle")</p>
		<p>
			<a class="btn btn-primary btn-lg" href="/whatis" role="button">@Messages("haberfili.whatis")
				&raquo;</a>
		</p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row clearfix" >
	
	<div class="col-sm-12 clearfix">	
			<img class="img-rounded" height="100" width="120" src="@news.image" >
			<h3>@news.title <small>@news.source</small> </h3>
			<p>@news.detail@news.detailMore</p>
			 <a class="btn btn-primary" target="_blank" href="@news.link" role="button">Detay&raquo;</a>
			 <span class='st_facebook_large' displayText='Facebook' st_url="http://www.haberfili.com/content/@news.id"></span>
			<span class='st_twitter_large' st_via="haberfili"  displayText='Tweet'st_url="http://www.haberfili.com/content/@news.id"></span>
			<span class='st_googleplus_large' displayText='Google +'st_url="http://www.haberfili.com/content/@news.id"></span>
			
			
	</div>		
	
	</div>
	<div class="row clearfix" >
	<div class="col-lg-12">
		<h2 class="page-header">@Messages("haberfili.othernews")</h2>
	
	<div class="list-group" >
		@for(i <-0 to newsList.size()-1) {
	<a class="list-group-item" href="/content/@newsList.get(i).id">	
		<h4 class="list-group-item-heading">@newsList.get(i).title <small>@newsList.get(i).source</small></h4>
		<p class="list-group-item-text">@newsList.get(i).detail</p>	
	</a>		
	}
	</div>
	</div>
</div>
	<footer>
		<p>&copy; Haberfili 2013</p>
	</footer>
</div>

</html>


    