@(news : models.News)
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@mainonenews(news) {
<!DOCTYPE html>
<html>

<div class="clear"></div>
  <section class="page_section" id="about">
  <br>
    <div class="content_section container"> 
            	<div class="row">
                	<div class="row">
            @if(!"".equals(news.image)){
                	<div class="col-md-4">
			<div class="img-rounded box" >
			<div class="img_block hover_img">
                                <a   class="prettyPhoto" data-rel="prettyPhoto[about]">
                                    <img  src="@news.image"  alt="@news.title" />
                                    
                                </a>
            </div>
            </div>
            </div>
            }
            <br>
            <div class="col-md-4">
			<h3>@news.title <small>@news.source</small>
			<br>
			<small>@(new java.util.Date(news.createDate+(60*60*1000*3)).format("dd-MM-yyyy HH:mm")) </small></h3>
			 
			<p>@news.detail@news.detailMore
				<a target="_blank" href="@news.link" >Kaynak..</a>
			</p>
	
			 <span class='st_facebook_large' displayText='Facebook' st_url="http://www.haberfili.com/content/@news.id"></span>
			<span class='st_twitter_large' st_via="haberfili"  displayText='Tweet'st_url="http://www.haberfili.com/content/@news.id"></span>
			<span class='st_googleplus_large' displayText='Google +'st_url="http://www.haberfili.com/content/@news.id"></span>
	</div>		
	<div class="col-md-4">
		<!-- ReklamStore kodu basla -  336x280 -->
		<script type="text/javascript">
		var reklamstore_region_id = 386692;
		</script>
		<script type="text/javascript" src="http://adserver.reklamstore.com/reklamstore.js"></script>
		<!-- ReklamStore kodu bitti - 336x280-->
		
	</div>	
	</div>		
	
	</div>
	<div class="row clearfix" >
	<div class="col-lg-12">
         
    <script type="text/javascript">
	        $.get( "/guncelHaberler", function( data ) {
        	  $( ".result" ).html( data );
        	  $("#divRecentNews").append(data);
        	});
        </script>     
	<div id= "divRecentNews" class="col-lg-6"></div>

	<script type="text/javascript">
      $.get( "/ajax-call/@news.id", function( data ) {
     	  $( ".result" ).html( data );
     	  $("#divSimilarNews").append(data);
     	});
     </script>
	<div id="divSimilarNews" class="col-lg-6"></div>
	
	</div>
	<div class="col-lg-12">
	
		<!-- ReklamStore kodu basla -  728x90 -->
		<script type="text/javascript">
		var reklamstore_region_id = 386687;
		</script>
		<script type="text/javascript" src="http://adserver.reklamstore.com/reklamstore.js"></script>
		<!-- ReklamStore kodu bitti - 728x90-->	
	
	
	
	</div>
</div>
</div>
</section>

</html>

}
    