@(news : models.News)
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html>

@if(news.similarNews!=null && news.similarNews.size()!=0){
			<h2 class="page-header">@Messages("haberfili.similarNews")</h2>
	
	<div class="list-group" >
		@for(i <-0 to news.similarNews.size()-1) {
	<a class="list-group-item" href="/content/@news.similarNews.get(i).id">	
		<h4 class="list-group-item-heading">@news.similarNews.get(i).title <small>@news.similarNews.get(i).source</small></h4>
		<p class="list-group-item-text">@news.similarNews.get(i).detail</p>	
	</a>		
	}
	</div>
}
</html>


    