@main(Messages("playauthenticate.index.title")) {

   <div class="jumbotron">
	<div class="container">
		 <h1><img class="img-responsive" src="@routes.Assets.at("icons/haberfili.png")" ></h1>
		<p>@Messages("haberfili.subtitle")</p>
		
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	
	<div class="col-lg-12">
		<h2 class="page-header">@Messages("haberfili.whatis")</h2>
	</div>
		
	<div class="row clearfix" >

<div class="col-sm-12">  

     <p>@Messages("haberfili.whatis.firstLine")</p>
      <p>@Messages("haberfili.whatis.secondLine")</p>
      <p>@Messages("haberfili.whatis.thirdLine")</p>
      <p><strong>@Messages("haberfili.team")</strong></p>
     </div>
     
	</div>

	<hr>

	<footer>

		<p>&copy; Haberfili 2013</p>
	
	</footer>
</div>
    }
    
    